In [1]:
dimensions = (200,300,400)
print(dimensions[0:1])

(200,)

In [2]:
dimensions = (200,300,400)
print(dimensions[0:3])

(200, 300, 400)

In [3]:
dimensions = (200,300,400)
print(dimensions[-1])

400

In [4]:
dimensions = (200,300,400)
print(dimensions[-2])

300

In [6]:
Astronauts = ('Kalpana','Sunitha','Valentina')
print('Female Astronauts are')
for astronaut in Astronauts:
    print(astronaut)
    
Astronauts = ('Rakesh','Neil','Collins')
print("Male Astronauts are")
for astronaut in Astronauts:
    print(astronaut)

Female Astronauts are
Kalpana
Sunitha
Valentina
Male Astronauts are
Rakesh
Neil
Collins

In [7]:
Astronauts = ('Kalpana','Sunitha','Valentina')
print('Female Astronauts are')
for astronaut in Astronauts:
    print(astronaut)
    
Astronauts = ('Rakesh','Neil','Collins')
print("\nMale Astronauts are")
for astronaut in Astronauts:
    print(astronaut)

Female Astronauts are
Kalpana
Sunitha
Valentina

Male Astronauts are
Rakesh
Neil
Collins

In [9]:
Planets = ('mercury','venus','earth','mars','jupiter')
for planet in Planets:
    if planet == 'earth':
        print(planet.upper())
    else:
        print(planet.title())

Mercury
Venus
EARTH
Mars
Jupiter

In [10]:
Planets = ('mercury','venus','earth','mars','jupiter')
for planet in Planets:
    if planet == 'mars':
        print(planet.lower())
    else:
        print(planet.upper())

MERCURY
VENUS
EARTH
mars
JUPITER

In [11]:
Planets = ('mercury','venus','earth','mars','jupiter')
for planet in Planets:
    if planet == 'earth':
        print(planet.upper())
    else:
        print(planet.title())

Mercury
Venus
EARTH
Mars
Jupiter

In [12]:
Planets = ('mercury','venus','earth','mars','jupiter')
for planet in Planets:
    if planet == 'earth':
        print(planet.title())
    else:
        print(planet.upper())

MERCURY
VENUS
Earth
MARS
JUPITER

In [13]:
Planets = ('mercury','venus','earth','mars','jupiter')
for planet in Planets:
    if planet == 'earth':
        print(planet.lower())
    else:
        print(planet.upper())

MERCURY
VENUS
earth
MARS
JUPITER

In [14]:
planet = 'saturn'
planet == 'Saturn'

False

In [15]:
planet = 'NEPTUNE'
planet.upper() == 'Neptune'

False

In [16]:
planet = 'NEPTUNE'
planet.title() == 'Neptune'

True

In [18]:
requested_ride = 'Uber Prime'
if requested_ride != 'Uber Go':
    print('Cancel the ride')

Cancel the ride